{{!--<!--
SPDX-FileCopyrightText: 2022 Ethaks <ethaks@pm.me>
SPDX-License-Identifier: EUPL-1.2
-->--}}
<div class="form-group sphere-talent-type">
    <label>{{ localize "PF1SPHERES.Sphere" }}</label>
    <select name="flags.pf1spheres.sphere">
        {{selectOptions spheres selected=item.flags.pf1spheres.sphere labelAttr="label"}}
    </select>
</div>
